$button-task-hover-color: #3214dc;
$button-task-text-color: #333333;
$button-task-border: 2px solid $button-task-text-color;
$button-task-border-hover: 2px solid $button-task-hover-color;
$button-task-text-size: 14px;
$buttons-margin: 0 0 0 10px;
$button-task-shadow:
    1px 1px 0 $button-task-text-color,
    -1px -1px 0 $button-task-text-color,
    -1px 1px 0 $button-task-text-color,
    1px -1px 0 $button-task-text-color;
$button-task-shadow-hower:
    7px 3px 0 $button-task-text-color,
    -7px -3px 0 $button-task-text-color;

.task-button {
    flex: 1;
    cursor: pointer;
    line-height: 20px;
    font-weight: bold;
    transition: box-shadow 0.4s ease-in-out;
    font-size: $button-task-text-size;
    color: $button-task-text-color;
    border: $button-task-border;
    box-shadow: $button-task-shadow;

    &:hover {
        box-shadow: $button-task-shadow-hower;
        color: $button-task-hover-color;
        border: $button-task-border-hover;
    }

    &:focus {
        outline: none;
    }

    &+& {
        margin: $buttons-margin;
    }
}
